/*Reset CSS*/
.centre{
    margin:0;
    padding:0;
}

.container{
    position: absolute;
    width:100%;
    height:100%;
    background: grey;
}


.header{
    height: 62px;
    width: 100%;
    background-color: #000000;
    color:white;
}
ul{
    position: relative;
    top: 6px;
    float: right;
    margin-right: 100px;
}
li{
    display: inline;
    margin-left: 20px;
}
.leftamp{
    position: relative;
    float: left;
    top:22px;
    margin-left: 50px;
}
.main-container{
    position: relative;
    width:90%;
    margin: 0 auto;
}
.main{
    position: relative;
    height: 130px;
    width: 100%;
    background-color: #7b5f5f;
    background-image: url(images/group.jpg);
    line-height: 130px;
}

.centre{
    margin-top: 30px;
    text-align: center;
    top:20px;
    color:white;
}

.right{
    margin-top: 30px;
    text-align: right;
    top:20px;
    color:white;
    padding-right: 20px;
}

.font-30{
    font-size: 60px;
  }

.footer{
    position: relative;
    top:50px;
    width: 100%;
    height: 350px;
    background: white;  
}

.footer-content{
    position: relative;
    width: calc(25% - 10px);
    height: 342px;
    background: white;
    float: left;
    margin-right:5px;
    margin-left:5px;
    background-color: #af0c0c;
    background-image: url(images/group1.jpg);
    background-repeat:no repeat;
}




.overlay{
    width:100px;
    height:30px;
    margin: 0 auto;
    background: rgba(105, 125, 158, 0.959);
    border-radius: 17px;
    line-height: 30px;
  }